body {
	background-color: #4286f4;
	font-family: sans-serif;
}

div.whitebox {
	background-color: white; 
	height: 470px;
	width: 360px;
	padding-left: 40px;
	padding-right: 40px;
	border: solid white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 3px;
	text-align: center;


}

img {
	padding-top: 30px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

header {
	padding-top: 40px;
  	text-align: center;
  	font-size: 32px;
  	color: grey;
  	padding-bottom: 40px;


}

 label {
 	text-align: left;
 	display: block;
 	margin: 0 auto;
 	padding-bottom: 15px;
 	padding-left: 20px;
 }

 input {

	margin-right: auto;
	margin-left: auto; 
 	width: 320px;
 	height: 55px;
 	border-radius: 3px;
 	font-size: 15px;
 	border: 2px solid #777777;
 	
 }

.form {
	margin-bottom: 15px;
}

.signup {
	color: white;
	margin-right: auto;
	margin-left: auto; 
 	width: 320px;
 	height: 55px;
 	border-radius: 3px;
 	font-size: 22px;
 	border: 2px solid #81ff68;
 	background: #81ff68;
 	margin-bottom: 10px;
	
}
.signup:hover {
	background-color: green;
}




p{
	margin-top: 15px;
	text-align: center;
	color: white;
}

a:link {
	color: white;
}
a.forgot {
	color: #666;
